# .env
ENV=dev

API_URL=https://api.symulate.weuno.co/dev/api
SUPER_ADMIN_URL=https://superadmin.symulate-dev.weuno.co
CLIENT_ADMIN_URL=https://client-admin.symulate-dev.weuno.co
CANDIDATE_URL=https://symulate-ai-dev.weuno.co

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

CANDIDATE_EMAIL=
CANDIDATE_PASSWORD=
CANDIDATE_DEFAULT_PASSWORD=
CLIENT_ADMIN_DEFAULT_PASSWORD=

ASSESSMENT_CANDIDATE_ID=
ASSESSMENT_PROJECT_ID=
ASSESSMENT_BOOKING_ID=
ASSESSMENT_BOOKING_START_AT=

SCENARIO=full
LOAD_MODE=smoke
ANUM_API_ENABLED=true
NUM_CANDIDATES=1
SEND_PROJECT_INVITATIONS=false
SEND_CLIENT_EMAIL=true